# Auto detect text files and perform LF normalization
* text=auto

assets/package.txt text eol=crlf working-tree-encoding=utf8
assets/package.ini text eol=crlf working-tree-encoding=utf8

###############################################################################
*.obj text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.anm text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.scn text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.cam text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.tra text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.lua text eol=crlf linguist-language=Lua working-tree-encoding=cp932
*.obj2 text eol=lf linguist-language=Lua working-tree-encoding=utf8
*.anm2 text eol=lf linguist-language=Lua working-tree-encoding=utf8
*.scn2 text eol=lf linguist-language=Lua working-tree-encoding=utf8
*.cam2 text eol=lf linguist-language=Lua working-tree-encoding=utf8
*.tra2 text eol=lf linguist-language=Lua working-tree-encoding=utf8
